In [ ]:
!sudo pip3 install gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.8.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
import gdown
import pandas as pd
import numpy as np

In [ ]:
url = "https://drive.google.com/file/d/1AVg8ENuzzvmBWhzFRUgT1os7E8IO78Tq/view?usp=sharing"
output = 'test.rar'
gdown.download(url=url, output=output, quiet=False, fuzzy=True)

Downloading...
From: https://drive.google.com/uc?id=1AVg8ENuzzvmBWhzFRUgT1os7E8IO78Tq
To: /content/test.rar
100%|██████████| 44.0M/44.0M [00:00<00:00, 58.1MB/s]

'test.rar'

In [ ]:
!sudo pip3 install rarfile

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rarfile
  Downloading rarfile-4.0-py3-none-any.whl (28 kB)
Installing collected packages: rarfile
Successfully installed rarfile-4.0

In [ ]:
from rarfile import RarFile

with RarFile("/content/test.rar") as file:
    file.extractall()

In [ ]:
data = pd.read_csv('/content/2022_02_08-02_30_31_AM.csv')

Basic Inspection of data

In [ ]:
data.columns

Index(['uuid', 'price_string', 'price_string_unf', 'product_type', 'level_1',
       'category'],
      dtype='object')

In [ ]:
data.shape[0]

13730000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   uuid              object
 1   price_string      object
 2   price_string_unf  object
 3   product_type      object
 4   level_1           object
 5   category          object
dtypes: object(6)
memory usage: 628.5+ MB

1. Products without prices

These are the products without prices.

In [ ]:
data[data['price_string'].isna()]

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
5,389d9f75-cc3f-4bd2-94f7-93e381a3bed5,NaN,NaN,TmF0dXJhbCBTd2VldGVuZXJzLyBTdWdhcg,TW9uayBGcnVpdA,Z3JvY2VyaWVz
13,1f2766ec-0a27-43f8-b28b-77a44492ead1,NaN,NaN,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U2NydWJz,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
16,7bad39f5-74b9-4611-afb9-46fb135190cd,NaN,NaN,UGx1cyBzaXplIHdlYXIgZHJlc3M,RHJlc3M,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...
13729992,8d763911-79b7-402d-8964-6bfe89692c66,NaN,NaN,TWVucyB3b3Jrd2Vhci8gb2ZmaWNlIHdlYXI,U2hpcnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729993,2dc182aa-d591-49e4-85d1-5c4a60a09664,NaN,NaN,U3BpY2Vz,UGVwcGVy,Z3JvY2VyaWVz
13729995,2a13338e-9268-4f7b-9e7c-b8c41c72971b,NaN,NaN,RHJlc3Nlcw,TWF4aSBkcmVzcw,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729997,679f073a-862a-4e43-b5ce-41e45afd3bfa,NaN,NaN,UGV0IEZvb2Q,RHJ5IERvZyBGb29k,cGV0IHN1cHBsaWVz
13729998,25677eee-c26b-4abf-bd10-ca77a800ba26,NaN,NaN,U2F1Y2U,QkJRIFNhdWNl,Z3JvY2VyaWVz

Count of products with and without prices.

In [ ]:
data['price_string'].isna().sum()

8220000

In [ ]:
data['price_string'].notna().sum()

5510000

There are totally 8220000 products without prices and 5510000 with prices

2. Count of products with and without price for each Product Type, Category, Level1

We follow a simple technique for all the above.

We first filter the rows with and without prices using notna() and isna()
We then use groupby for each product type,category and level1 
Finally sum() function will give the sum final desired result.

Products with prices in each product type

In [ ]:
data['price_string'].notna().groupby(data['product_type']).sum()

product_type
Q0FUIExJVFRFUg                                  0
Q29mZmVlIEJlYW5z                            30000
Q29mZmVlIEZpbHRlcnM                             0
Q29uZGl0aW9uZXIgSGFpcg                      10000
Q29va2llcw                                      0
                                            ...
cGV0IEJsYW5rZXQ                             10000
cGV0IFN0YWluIGFuZCBvZG9yIGVsaW1pbmF0b3I         0
d29tZW5zIE91dGVyd2Vhcg                     130000
d29tZW5zIFdhbGxldA                          20000
d29tZW5zIHN3ZWF0ZXJz                        30000
Name: price_string, Length: 321, dtype: int64

Products without prices in each product type

In [ ]:
data['price_string'].isna().groupby(data['product_type']).sum()

product_type
Q0FUIExJVFRFUg                             30000
Q29mZmVlIEJlYW5z                           50000
Q29mZmVlIEZpbHRlcnM                        10000
Q29uZGl0aW9uZXIgSGFpcg                     20000
Q29va2llcw                                 30000
                                           ...
cGV0IEJsYW5rZXQ                            10000
cGV0IFN0YWluIGFuZCBvZG9yIGVsaW1pbmF0b3I    10000
d29tZW5zIE91dGVyd2Vhcg                     20000
d29tZW5zIFdhbGxldA                         10000
d29tZW5zIHN3ZWF0ZXJz                       90000
Name: price_string, Length: 321, dtype: int64

Products with prices in each category

In [ ]:
data['price_string'].notna().groupby(data['category']).sum()

category
Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       1860000
QXJ0IHN1cHBsaWVz                        190000
QmFieWNhcmU                              90000
RWxlY3Ryb25pY3M                         110000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          700000
SGVhbHRo                                290000
VG95cyBhbmQgR2FtZXM                     190000
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     200000
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        750000
Z3JvY2VyaWVz                            480000
a2l0Y2hpbmcgYW5kIGRpbmluZw              340000
b2ZmaWNlIHByb2R1Y3Rz                    150000
cGV0IHN1cHBsaWVz                        160000
Name: price_string, dtype: int64

Products without prices in each category

In [ ]:
data['price_string'].isna().groupby(data['category']).sum()

category
Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       2050000
QXJ0IHN1cHBsaWVz                        130000
QmFieWNhcmU                             570000
RWxlY3Ryb25pY3M                         210000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          870000
SGVhbHRo                                700000
VG95cyBhbmQgR2FtZXM                     600000
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     320000
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        720000
Z3JvY2VyaWVz                           1130000
a2l0Y2hpbmcgYW5kIGRpbmluZw              250000
b2ZmaWNlIHByb2R1Y3Rz                     80000
cGV0IHN1cHBsaWVz                        580000
Name: price_string, dtype: int64

Products with prices in each level_1

In [ ]:
data['price_string'].notna().groupby(data['level_1']).sum()

level_1
MTAgQ3Vw              10000
MjAgQ3Vw              10000
MjAgUGludHM           10000
MzAgQ3Vw              10000
MzAtIDM1IFBpbnRz      10000
                      ...
d29tZW5zIGJvb3Rz      20000
d29tZW5zIGhlZWxz      10000
eW9nYSBCbG9ja3M       20000
eW9nYSBib2xzdGVycw    10000
eW9nYSBzdHJhcHM       30000
Name: price_string, Length: 595, dtype: int64

Products without prices in each level_1

In [ ]:
data['price_string'].isna().groupby(data['level_1']).sum()

level_1
MTAgQ3Vw                  0
MjAgQ3Vw                  0
MjAgUGludHM           20000
MzAgQ3Vw                  0
MzAtIDM1IFBpbnRz      10000
                      ...
d29tZW5zIGJvb3Rz      20000
d29tZW5zIGhlZWxz          0
eW9nYSBCbG9ja3M       10000
eW9nYSBib2xzdGVycw    10000
eW9nYSBzdHJhcHM           0
Name: price_string, Length: 595, dtype: int64

3. Correct Format

Formatting all the price to correct currency format

If the price had \$ symbol in the start, retain the value else add $ symbol.

In [ ]:
def format(x):
  x = str(x)
  if x[0].isnumeric():
    return "${}".format(x)
  elif x=='nan':
    return np.nan
  else:
    return x

In [ ]:
data['price_string'] = data['price_string'].apply(format)

Now lets split them into currency and value

PS : nan is retained as nan in value, currency columns

In [ ]:
def split(x):
  if type(x) == str and x[0] == "$":
    return x.strip("$")
  else:
    return np.nan

In [ ]:
data['value'] = data['price_string'].apply(split)

In [ ]:
data.value = data.value.astype('float64')

In [ ]:
data['currency'] = data['price_string'].apply(lambda x: x[0] if type(x) == str else np.nan)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   uuid              object
 1   price_string      object
 2   price_string_unf  object
 3   product_type      object
 4   level_1           object
 5   category          object
 6   value             float64
 7   currency          object
dtypes: float64(1), object(7)
memory usage: 838.0+ MB

4. Categories with average price of products

In [ ]:
data.groupby('category')['value'].agg(np.mean)

category
Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       125.413871
QXJ0IHN1cHBsaWVz                        19.471053
QmFieWNhcmU                            163.688889
RWxlY3Ryb25pY3M                         60.258182
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          76.199000
SGVhbHRo                                32.557586
VG95cyBhbmQgR2FtZXM                     32.448947
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     82.223500
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        34.745067
Z3JvY2VyaWVz                            10.541667
a2l0Y2hpbmcgYW5kIGRpbmluZw              16.703235
b2ZmaWNlIHByb2R1Y3Rz                    20.480000
cGV0IHN1cHBsaWVz                        14.181875
Name: value, dtype: float64